.sports{
    padding-left:65rem;
}

@media screen and  (max-width: 768px) {

    .sports{
        margin: 113px -81rem 0 -50rem;

    }

    #football{
        height: 7rem;
        width: 7rem;
    }
}
@media screen and  (max-width: 414px) {

    .sports{
        margin: -15px -8rem 0px -57rem;
    }

    /* #football{
        height: 7rem;
        width: 7rem;
    } */

   
}

@media screen and  (max-width: 360px) {

    .sports{
        margin: -15px -8rem 0px -60rem;
    }

    /* #football{
        height: 7rem;
        width: 7rem;
    } */

   
}